#table .btn {
    padding: 2px 6px ;
    border-radius: 50%;
}

body {
    background: linear-gradient(135deg, #3154e6, #bd2594 ) ;
}

#table, fieldset {
    background-color: #e4f3df;
}

img {
    width: 8vw;
}

.col-12.d-flex {
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    .col-12.d-flex {
        flex-wrap: nowrap;
    }
    .h {
        height: 20px;
        margin-block: 30px;
    }
}

label[id^="pic"] > img {
    width: 50px;
}